<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>motion-frame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C48F86811F42597F00412D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C48F86921F42597F00412D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C48F869D1F42597F00412D7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
